body{
    background-color: #ddd;
    font-size: larger;
    background-image: url("06.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.container{
    text-align: center;
}


.elements{
    display: flex;
    flex-direction: column;
}

.innerElement{
    border: 1px solid black;
    padding:20px;
    width: 50%;
    margin:auto
}


h1{
    color: red;
}

#mybutton{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 8px;
}